{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} BLOG Details {% endblock %}

{% block body_block %}
<div class="row">
  <div class="col-sm-6">
    <h2>{{ blog.blog_title }}</h2>
    <h4>Posted By : {{ blog.author }}</h4>
    <i>
      <h6>Published On: {{ blog.publish_date }}</h6>
    </i>
    <i>
      <h6>Updated On: {{ blog.update_date }}</h6>
    </i>
    <h6>{{ blog.liked_blog.count }} Likes | {{ blog.blog_comment.count }} Comments</h6>
  </div>

  <div class="col-sm-6">
    <img src="/media/{{blog.blog_image}}" width="100%">
  </div>
  {{ blog.blog_content|linebreaks }}
</div>
{% if blog.author == user %}
<b><a style="color:red ;" href="{% url 'App_Blog:delete_blog' pk=blog.pk %}">Delete The Post </a></b>

{% endif %}

<hr>
{% if not liked %}
<a href="{% url 'App_Blog:liked_post' pk=blog.pk %}">
  <i class="fa fa-thumbs-o-up fa-2x"></i>
</a>
{% else %}
<a href="{% url 'App_Blog:unliked_post' pk=blog.pk %}">
  <i class="fa fa-thumbs-o-down fa-2x"></i>
</a>
{% endif %}

<div class="row">
  

  <div class="col-sm-12">

    <h5>Comments:</h5>

    <form method="post">
      {{ comment_form|crispy }}
      {% csrf_token %}
      <button type="submit" class="btn btn-primary btn-sm">Comment</button>


  <div class="col-sm-10">
    
    {% for comment in blog.blog_comment.all %}
    <p><a href="#">{{ comment.user }}</a></p>
    <b>{{ comment.comment }}</b>|| <span>  </span> <i>{{comment.comment_date}}</i>
    <br><br>

    <div class="reply mx-0">
      <p>
        
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Reply
        </button>
      </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
        </div>
      </div>
    </div>
    
    {% endfor %}
  </div>


  

    </form>
  </div>

</div>



<br><br><br>


{% endblock %}